

header {
	background-color: #2C3E50;
}

[class*="col"] {
	border: 2px solid black;
}

._1{
    width: 20px;
    height: 20px;
    background-color: blue;
    display: inline-block;
}

.bg-green{
    background-color: #1ABC9C;
}
.white-bar{
    height: 5px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.black-bar{
    height: 5px;
    width: 80px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}

.portfolio-img{
    object-fit: cover;
    max-width: 100%;
}

.card{
    border-radius: 5px;
}

.text-1,.text-2{
    height: 60px;
    background-color: blue;
    border: 1px solid black;
    
}

.btn{
    width: 40px;
    height: 10px;
    background-color: blue;
    border: 1px solid black;  
}