
.nav_bg, footer{
    background-color: #2C3E50;
}

._white{
    color: white;
}

/* Nav */
.navbar-toggler{
    border: 2px solid white;
    
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}














/* Main */


.bg-green{
    background-color: #1ABC9C;
}
.white-bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block ;
    
}

.black-bar{
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-block ;
    
}


.fix_star{
    max-width: 300px;
    margin: auto;
    padding: 2rem 0;
}



._card img{
    border-radius: 5px;
    max-width: 100%;
}

._card:hover{
    opacity: 0.5;
}

.btn{
    border: 1px solid white;  
    color: white;
}

.form-control{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}

.green_btn{
    background-color: #1BB89A;
}

.Info{
    background-color: #3A546D;
}

.begin{
    text-decoration: none;
    color: #1BB89A;
}

